<div class="side-nav-container alore-primary">
  <div>
    <i nz-icon nzType="audit" nzTheme="outline"></i>
    <i nz-icon nzType="apple" nzTheme="outline"></i>
    <i nz-icon nzType="container" nzTheme="outline"></i>
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
    <i nz-icon nzType="file-text" nzTheme="outline"></i>
  </div>
  <div>
    <i nz-icon nzType="file-text" nzTheme="outline"></i>
    <i nz-icon nzType="mac-command" nzTheme="outline"></i>
    <i nz-icon nzType="bell" nzTheme="outline"></i>
    <div class="text_center" style="position: relative">
      <div id="badgePopup" class="badgePopup">
        <div class="text_center">
          <img src="./../../assets/JasArora80px.png">
          <div class="info-container">
            <div class="text_16 title alore-primary">Jas Arora</div>
            <div class="alore-primary">jas@alore.io</div>
          </div>
          <button class="outlined-default-btn" nz-button nzType="default" style="width: 200px;" nzSize="large">Manage your Profile</button>
          <nz-divider></nz-divider>
        </div>
      </div>
        <nz-avatar nzIcon="user" nzSrc="./../../assets/JasArora80px.png" nzShape="circle" (click)="onBadgeClick()"></nz-avatar>
        <span class="online-dot"></span>
    </div>
  </div>
</div>

