<nz-layout>
  <div class="side-nav"><app-side-nav></app-side-nav></div>
  <nz-layout>
    <nz-header><span class="title text_30 alore-primary">Database</span></nz-header>
    <nz-content>
      <nz-row nzType="flex" nzJustify="space-between" class="tab-container">
        <nz-col nzSpan="24">
          <nz-tabset>
          <nz-tab nzTitle="Leads">
            <app-leads></app-leads>
          </nz-tab>
          <nz-tab nzTitle="Contacts">
            Contacts Component goes here
          </nz-tab>
          <nz-tab nzTitle="Accounts">
            Accounts Component goes here
          </nz-tab>
          <nz-tab nzTitle="Find New Leads">
            Find New Leads Component goes here
          </nz-tab>
        </nz-tabset>
        </nz-col>
        <div class="new-contact-btn-container">
          <button nz-button nzType="primary" nzSize="large" nz-dropdown [nzDropdownMenu]="menu">New Contact</button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onCreateNewContact()"><i nz-icon nzType="plus" nzTheme="outline"></i>Create a new contact</li>
              <li nz-menu-item (click)="onCreateNewProspect()"><i nz-icon nzType="plus" nzTheme="outline"></i>Create a new prospect</li>
              <li nz-menu-item><i nz-icon nzType="idcard" nzTheme="outline"></i>Upload prospects or contacts</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </nz-row>
    </nz-content>
  </nz-layout>
</nz-layout>
